# Environment
.env
__pycache__/
*.pyc
*.pyo
.venv/

# GCP credentials
*.json

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
logs/
airflow.db

# OS
.DS_Store
Thumbs.db